//test ~ reds
$primary-color: #8B2942;  
$secondary-color: #BC4B51;   
$text-color: #2D3748;       
$background-color: #FDF7F7;  
$accent-color: #592B3D;     
$frame-color: rgba(139, 41, 66, 0.2);
$text-bg-color: #FFFFFF;
$section-height: 100vh;
$section-width: 100vw;

//test ~ purple colors
// $primary-color: #6b46c1;
// $secondary-color: #9f7aea;
// $text-color: #2d3748;
// $background-color: #faf5ff;
// $accent-color: #553c9a;
// $frame-color: rgba($primary-color, 0.2);
// $text-bg-color: #ffffff;
// $section-height: 100vh;
// $section-width: 100vw;

//test ~ blue/grey colors
// $primary-color: #2C3E50;    
// $secondary-color: #34495E;  
// $text-color: #2D3748;       
// $background-color: #F7F9FC;  
// $accent-color: #485F7F;    
// $frame-color: rgba(44, 62, 80, 0.2);
// $text-bg-color: #FFFFFF;
// $section-height: 100vh;
// $section-width: 100vw;